# Create a .env file in your project's root directory and add variables as below

BACKEND_PORT=8000

DB_HOST="YOUR_HOST"
DB_PORT="YOUR_PORT"
DB_USER="YOUR_USER"
DB_PASSWORD="YOUR_PASSWORD"
DB_NAME="YOUR_DB_NAME"
